---
layout: default
permalink: /
title: AScI LSBD Seminar
---

<h1 class="page-heading">Large Structures Seminar</h1>

<div class="seminar-home-blurb">
    <p>This seminar is part of the AScI Thematic Program "Challenges in
        Large Geometric Structures and Big Data".  The current organizers
        are: <a href="http://www.kaiekubjas.com/">Kaie Kubjas</a>, 
        <a href="https://people.aalto.fi/index.html?profilepage=isfor#!ragnar_freij">Ragnar Freij-Hollanti</a>, and <a href="http://users.asci.aalto.fi/daniel/index.html">Daniel Rayneau-Kirkhope</a>.
    </p>
        
    <p>Below is a list
        of past and upcoming talks for the current term.  A list of 
        talk from previous terms is
        <a href="{{site.baseurl}}past-terms/">here</a>.
    </p>
</div>

<div class="seminar-home-talks-list">
    <table>
        {% assign talks = site.seminartalks | where: "talkterm", site.seminar_current_term %}
        {% for talk in talks %}
            <tr>
                <td class="seminar-talk-date">
                    <a href="{{site.baseurl}}{{talk.url}}">{{talk.talkdate}}</a>
                </td>
                <td class="seminar-talk-speaker">
                    {% if talk.speakerurl %}
                        <a href="{{talk.speakerurl}}">{{talk.speaker}}</a>
                    {% else %}
                        {{talk.speaker}}
                    {% endif %}
                    {% if talk.speakershortinst %}
                        <span class="seminar-talk-speaker-inst">{{talk.speakershortinst}}</span>
                    {% endif %}
                </td>
                <td class="seminar-talk-title">
                    <a href="{{site.baseurl}}{{talk.url}}">{{talk.talktitle}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
